@model List<Category>
@{
    Layout = "_Layout";
}

<table class="table table-bordered">
    <tr>
        <th>Category List</th>
        <th>
            <a class="btn" asp-controller="Category" asp-action="Add">Add New Category</a>
        </th>
    </tr>
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Action</th>
    </tr>
    @foreach (var cate in Model)
    {
            <tr>
                <td>@cate.Id</td>
                <td>
                    <a asp-controller="Category" asp-action="Detail" asp-route-id="@cate.Id">@cate.Name</a>
                </td>
                <td>@cate.Description</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" class="btn" asp-route-id="@cate.Id">Edit</a>
                    <a asp-controller="Category" asp-action="Remove" class="btn" asp-route-id="@cate.Id"
               onclick="return confirm('Are you sure to remove this category ?');">Remove</a>
                </td>
            </tr>
    }
</table>