@model List<Book>
@{
    Layout = "CustomerLayout";
}
<div class="col">
    <form asp-controller="Book" asp-action="Search" method="post">
        <div class="form-group">
            <input type="search" required name="keyword" placeholder="Search by book title" />
            <input class="btn btn-primary" type="submit" value="Search" />
        </div>
    </form>
</div>

@if (TempData["Message"] == null && Model.Count == 0)
{
    <h4 class="text text-danger text-center"> No book found !</h4>
}

<div class="card-group text-center">
    <div class="row justify-content-center">
        @foreach (var book in Model)
        {
            <div class="card ml-2 mb-2">
                <div class="card-img mt-3">
                    <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">
                        <img src="@book.Image" width="200" height="200">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="text-primary">@book.Title</h4>
                    <h5 class="text-info">Price: $@book.Price</h5>
                    @if (book.Quantity < 1)
                    {
                        <h5 class="text-danger">OUT OF STOCK!</h5>
                    }
                    else
                    {
                        <h5 class="text-danger">Quantity: @book.Quantity</h5>
                    }
                </div>
                <div>
                    <form asp-controller="Order" asp-action="Add">
                        <div class="mb-3">
                            <input type="hidden" name="id" value="@book.Id" />
                            <input type="number" name="quantity" required min="1" max="@book.Quantity">
                            <input type="submit" class="btn btn-success" value="Order"
                               onclick="    return confirm('Are you sure to order this book ?');" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
